.App {
  background-color: #93CFDC;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.header{
  height: 20vh;
  display: flex;
  padding-left: 20px;
}
.tab-active{
  background-color: #FFFFFF;
  width: 35vh;
  height: 50%;
  position: relative;
  top: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.3), 3px -3px 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.tab{
  background-color: #E0E4E4;
  width: 35vh;
  height: 50%;
  position: relative;
  top: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border-top: solid black 0.5px;
  border-left: solid black 0.5px;
  border-right: solid black 0.5px;
  transition: 0.5s;
  z-index: 1;
}
.content{
  background-color: #FFFFFF;
  height: 80vh;
  overflow-y: auto;
}
.analytics{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  padding-left: 5%;
  padding-right: 5%;
}
.analytics-chart{
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.analytics-info{
  height: 50%;
  width: 40%;
  text-align: center;
}
.analytics-info-text{
  font-size: 5em;
}
.analytics-info-dropdown{
  height: 2em;
  width: 80%;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}